@page "/add-skill"
@using DevPort.Models
@inject DevPort.Services.SkillService SkillService

<h3 class="mb-3">Skills</h3>

<!-- INPUT SECTION -->
<div class="card-ui">

    <input class="form-control mb-2"
           @bind="skill.Name"
           placeholder="Enter skill" />

    <button class="btn btn-primary w-100"
            @onclick="SaveSkill">
        Save Skill
    </button>

</div>

<hr />

<!-- LIST -->
@if (skills.Count == 0)
{
    <p>No skills added yet.</p>
}
else
{
    @foreach (var s in skills)
    {
        <div class="card-ui d-flex justify-content-between align-items-center">

            <h5 class="mb-0">@s.Name</h5>

            <button class="btn btn-danger btn-sm"
                    @onclick="() => DeleteSkill(s.Id)">
                Delete
            </button>

        </div>
    }
}

@code {

    private Skill skill = new();
    private List<Skill> skills = new();

    protected override async Task OnInitializedAsync()
    {
        skills = await SkillService.GetSkills();
    }

    private async Task SaveSkill()
    {
        if (string.IsNullOrWhiteSpace(skill.Name))
            return;

        await SkillService.AddSkill(skill);

        skill = new Skill();

        skills = await SkillService.GetSkills();
    }

    private async Task DeleteSkill(int id)
    {
        await SkillService.DeleteSkill(id);

        skills = await SkillService.GetSkills();
    }
}