@page "/add-skill"
@using DevPort.Models
@inject DevPort.Services.SkillService SkillService

<h3>Add Skill</h3>

<input @bind="skill.Name" placeholder="Enter skill" />
<button @onclick="SaveSkill">Save</button>

<hr />

<h3>Skills</h3>

@if (skills.Count == 0)
{
    <p>No skills added yet.</p>
}
else
{
    @foreach (var s in skills)
    {
        <div style="border:1px solid gray; padding:10px; margin:10px;">
            <h4>@s.Name</h4>

            <button @onclick="() => DeleteSkill(s.Id)">
                Delete
            </button>
        </div>
    }
}

@code {

    private Skill skill = new();
    private List<Skill> skills = new();

    protected override async Task OnInitializedAsync()
    {
        skills = await SkillService.GetSkills();
    }

    private async Task SaveSkill()
    {
        await SkillService.AddSkill(skill);

        skill = new Skill();

        skills = await SkillService.GetSkills();
    }

    private async Task DeleteSkill(int id)
    {
        await SkillService.DeleteSkill(id);

        skills = await SkillService.GetSkills();
    }
}